.bioTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin: 0 20rem;
    color: #C0C0C0;
    font-size: 10rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.1rem;
}

.bioTitle:hover {
    color: #ffa500;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.bioWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers the element horizontally within its parent container */
    align-items: center;
    text-align: center;
    color: #CD7F32;
    border-color: #CD7F32;
    margin: 0 20rem;
    font-size: 3rem;
}

@media (max-width: 767px) {
    .bioTitle {
      margin: 0 2rem;
      font-size: 7rem;
    }
  
    .bioWrapper {
      margin: 0 1rem;
      font-size: 2rem;
    }
  }