.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.img a {
  margin: 0 10px;
}

.cvTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 2rem;
  color: #ffa500;
  font-size: 5rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1rem;
}

.cvWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffa500;
  font-size: 2rem;
  margin: 1rem 5rem 5rem 5rem;
}

.cvWrapper h4 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.cvWrapper p {
  text-align: center;
  line-height: 1.5;
}

.ulCV {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.liCV {
  margin-bottom: 10px;
  font-size: 3rem;
}

@media only screen and (max-width: 767px) {
  .img {
    width: 50px;
    height: 50px;
  }

  .cvTitle {
    font-size: 3rem;
    margin-left: 10px;
  }

  .cvWrapper {
    font-size: 1.5rem;
    margin: 1rem 2rem 5rem 2rem;
  }

  .liCV {
    font-size: 2rem;
  }
}
