.img {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img a {   
    margin: 0 10px;
}

  .cvTitle {
    display: flex;
    margin-left:5rem;
    margin-right: 5rem;
    color: #ffa500;
    font-size: 5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.1rem;
}
  .cvWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    color: #ffa500;
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center; /* This centers the element horizontally within its parent container */
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.cvWrapper h4 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.cvWrapper p {
    text-align: center;
    line-height: 1.5;
}

.ulCV {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.liCV {
    margin-bottom: 10px;
    font-size: 3rem;
}