.header {
    display: flex;
    flex-direction: column;
    background-color: #ffd700;
}

.titre {
    margin: 0;
    padding: 1rem;
}

@media(min-width: 40rem) {
    .header {
        flex-direction: row;
    }
}