.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ffd700;
}

.header a {   
    margin: 0 10px;
}

.titre {
    margin: 1rem;
    padding: 1rem;
}

@media(min-width: 40rem) {
    .header {
        margin: auto;
        flex-direction: row;
        align-items: center;
        
    }
}

