.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffd700;
  }
  
.ulMenu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.titre {
    margin: 1rem;
    padding: 1rem;
}

.buttonMenu {
    margin-right: 4rem;
    font-weight: bold;
    font-size: 1.7rem;
    background-color: #ffd700;
    border: none; 
    padding: 1rem 2rem; 
    transition: background-color 0.2s ease-in-out;
  }

  .buttonMenu:hover {
    background-color: #ffd700;
    color: #ffffff;
    cursor: pointer; 
}

@media (max-width: 767px) {
    .navMenu {
      flex-direction: column;
      align-items: center;
    }
    .buttonMenu {
      margin-right: 0;
      margin-bottom: 1rem;
    }
    .ulMenu {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }