.notFoundWrapper{
    display: flex;
    color: #CD7F32;
    border-color: #CD7F32;
    margin: 0 20rem;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center; /* This centers the element horizontally within its parent container */
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .notFoundWrapper{
        margin: 0 20rem;
    }
  }