.notFoundWrapper{
    display: flex;
    color: #CD7F32;
    border-color: #CD7F32;
    margin: 0 20rem;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .notFoundWrapper{
        display: flex;
        margin: 0 20rem;
        margin-left: auto;
        margin-right: auto;
    }
  }